<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/css/_layout.css" type="text/css"/>
            <link rel="stylesheet" href="~/css/snackbar.css" type="text/css"/>
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        @RenderSection("StyleSheets", required: false)
    </head>
    <body>
        <div id="wrapper">
            <header id="header">
                <ul class="top-menu">
                    <li style="margin-left: -25px;"><a href="/">Home</a></li>
                    <li><a href="/Posts">Posts</a></li>
                    <li><a href="/Player/Stream">Stream</a></li>
                    <li class="active"><a href="/VideoCall">Video call</a></li>
                    <li><a href="/Player">Player</a></li>
                    <li><a href="/Projects">Projects</a></li>
                </ul>
                <label id="ava-header" for="ava-header">
                    @if (User.Identity.IsAuthenticated)
                        {
                        <div id="sign-in">Sign in</div>
                        <div id="dark-bg-login-form" class="video-bg" style="display: none;">
                        <div id="login-form">
                            <div class="close-login-form">Close</div>
                            <p class="login-login-form" >Login</p>
                            <p class="error-login-form">Error</p>
                            <div class="inputs-login-form">
                                <input type="text" placeholder="Username/E-mail" class="user-login-form input-login-form"/>
                                <input type="password" placeholder="Password" class="password-login-form input-login-form"/>
                                <div class="oauths-login-form">
                                    <img class="oauth-login-form" src="~/images/auth/google-oauth.png"/>
                                    <img class="oauth-login-form" src="~/images/auth/google-oauth.png"/>
                                    <img class="oauth-login-form" src="~/images/auth/google-oauth.png"/>
                                    <img class="oauth-login-form" src="~/images/auth/google-oauth.png"/>
                                    <img class="oauth-login-form" src="~/images/auth/google-oauth.png"/>
                                </div>
                                <button class="button-login-form" id="registr">Registration</button>
                                <button class="button-login-form" id="login">Login</button>
                            </div>
                        </div>
                        </div>
                        }
                        else
                        {
                        <!-- https://css-tricks.com/guides/ -->
                        <ul class="user">
                            <li><img class="img-user" src="~/images/auth/pretty-ava.jpg"/>
                                <ul> 
                                  <li><a href="">Settings</a></li> 
                                  <li><a href="">Your likes</a></li> 
                                  <li><a href="">Sign out</a></li> 
                                </ul> 
                            </li> 
                        </ul>
                        }
                    </label>
                <ul class="top-lang" >
                    <li><a href="">RU</a></li>
                    <li class="active"><a href="">EN</a></li>
                </ul>
            </header>
         <div id="container">
                @RenderBody()
         </div>
        <footer>
            <hr />
            <div id="toast"><div id="img"></div><div id="desc"></div></div>
            <script defer="defer">
                    function launch_toast(img, value) {
                        var x = document.getElementById("toast")
                        x.className = "show";
                        document.getElementById("desc").innerHTML = value;
                        document.getElementById("img").innerHTML = img;
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
                    }
            </script>
        </footer>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/auth/auth.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
</html>
