@{
    Layout = "_Layout";
    ViewData["Title"] = "WritePost";
}


<script src="~/js/video/stream.js" asp-append-version="true" defer="defer"></script>
<link rel="stylesheet" href="~/css/writePost.css" asp-append-version="true" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="~/css/wmd.css" />
<script type="text/javascript" src="~/js/post/showdown.js"></script>

@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>*@

<div id="wmd-preview" class="wmd-panel"></div>
<div id="wmd-editor" class="wmd-panel">
    <div id="wmd-button-bar"></div>
    <textarea id="wmd-input"></textarea>
</div>

<script type="text/javascript" src="~/js/post/wmd.js"></script>
