@{
    Layout = "_Layout";
    ViewData["Title"] = "WritePost";
}

<script src="~/js/video/stream.js" asp-append-version="true" defer="defer"></script>
<link rel="stylesheet" href="~/css/post/write.css" asp-append-version="true" />

<link rel="stylesheet" type="text/css" href="~/css/wmd.css" />
<script type="text/javascript" src="~/js/post/showdown.js"></script>

<div class="comment-write">
    <span class="comment-write-name">Name post:</span>
    <input type="text" id="post_name" />
</div>


<div id="wmd-preview" class="wmd-panel"></div>
<div id="wmd-editor" class="wmd-panel">
    <div id="wmd-button-bar"></div>
    <textarea id="wmd-input"></textarea>
</div>
<select id="language" name="lang">
    <option value="rus">rus</option>
    <option value="eng">eng</option>
</select>
<input type="submit" id="sendPost" value="Send post" />

<script type="text/javascript" src="~/js/post/wmd.js"></script>

<script type="text/javascript">
    $('#sendPost').click(function () {
        console.log($('#wmd-input').val())
        console.log($('#post_name').val())
        var html = $('#wmd-input').val();
        var short_html = '';

        if (html.length > 120) {
            short_html = html.substr(120);
        } else {
            short_html = html;
        }

        $.ajax({
            url: '/post/WritePost',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                "html": html,
                "lang": $('#language option:selected').val(),
                "short_description": short_html,
                "post_name": $('#post_name').val()
            }),//$( "#myselect option:selected" ).text();
            processData: false,
            success: function (data, textStatus, jQxhr) {
                alert(JSON.stringify(data));
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    })
</script>
