@{
    ViewData["Title"] = "Settings";
}
<div class="title-registration">Registration</div>
<div class="menu-registration" style="display: list-item;">
    <div class="container-registration">
        <p class="name-input-registration">Fullname</p>
        <input class="input-registration" type="text" placeholder="Enter Fullname"/>
        <div class="status-registration"></div>
    </div>
    <div class="container-registration">
        <p class="name-input-registration">Username</p>
        <input class="input-registration" type="text" placeholder="Enter Username"/>
        <div class="status-registration"></div>
    </div>

    <div class="container-registration">
        <p class="name-input-registration">E-mail</p>
        <input class="input-registration" type="password" placeholder="Enter E-mail"/>
        <div class="status-registration"></div>
    </div>

    <div class="container-registration">
        <p class="name-input-registration">Password</p>
        <input class="input-registration" type="password" placeholder="Enter Password"/>
        <div class="status-registration"></div>
    </div>
    <button class="button-registration">Registration</button>
</div>