@{
    ViewData["Title"] = "Settings";
}
<link rel="stylesheet" href="~/css/settings.css" type="text/css" />

<div class="title-settings">Settings</div>
<div class="menu-settings">
    <p class="label-settings">Fullname</p>
    <input class="input-settings" type="text" placeholder="Fullname" id="fullname"/>

    <p class="label-settings">Username</p>
    <input class="input-settings" type="text" placeholder="Username" id="username"/>

    <p class="label-settings">E-mail</p>
    <input class="input-settings" type="email" placeholder="E-mail" id="email"/>

    <p class="label-settings">Role</p>
    <select class="select-role" id="role">
        <option value="admin">Admin</option>
        <option value="user">User</option>
    </select>
    <br />
    <button class="save-settings">Save</button>

    <p class="label-settings">Old password</p>
    <input class="input-settings" type="password" placeholder="Password" id="oldpassword"/>

    <p class="label-settings">New password</p>
    <input class="input-settings" type="password" placeholder="Password" id="newpassword"/>
    <br />
    <button class="save-settings">Save</button>
    <script type="text/javascript">
        function getSettings() {
            $.ajax({
                type: "GET",
                url: '/User/Settings',
                success: function (data) {
                    console.log(JSON.stringify(data));

                    $('#fullname').val(data['fullname']);
                    $('#username').val(data['username']);
                    $('#email').val(data['email']);
                    $('#role').val(data['role']);
                }
            });
        }

        function requestSettings() {
            $.ajax({
                type: "POST",
                url: '/User/Password',
                data: JSON.stringify({
                    oldpassword: $('#oldpassword').val(),
                    newpassword: $('#newpassword').val(),
                }),
                success: function (data) {

                }
            });
        }

        function requestPassword() {
            $.ajax({
                type: "POST",
                url: '/User/Settings',
                data: JSON.stringify({
                    fullname: $('#fullname').val(),
                    username: $('#username').val(),
                    email: $('#email').val(),
                    role: $('#role').val(),
                }),
                success: function (data) {

                }
            });
        }
    </script>
</div>