#search-input{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: 200px;
}

#create-post{
    background: #797878;
    margin-left: 20px;
    margin-top: 8px;
    color: fff;
    font-size: 18px;
    border-radius: 10px;
    border: #fff;
}
.comment-write{
    margin: 20px;
    margin-left:50px
}

.comment-write-name{
    margin-right:20px;
    font-size: 22px;
}

#post_name{
    height: 30px;
    width:80%;
    text-align:center;

}

#container{
    padding:20px;
    font-size: 22px;
}

#sendPost{
    background: #797878;
    margin-left: 20px;
    margin-top: 8px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    border: #fff;
    position: element(#wmd-button-bar);
    right:20px;
    position: absolute;
    margin-block-start: 40px;
}
