@{
    ViewData["Title"] = "Home Page";
}
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/homeIndex.css">

<div class="container content">
	<div class="row">
		<div class="col-md-8 products row">
			<div class="col-sm-4">
				<div class="product">
					<div class="product-img">
						<a href="#"><img src="img/goods1.jpg" alt=""></a>
					</div>
					<p class="product-title">
                        <a href="#">Cream jane jeans dress</a>
					</p>
					<p class="product-desc">Signature NYX cosmetics</p>
					<p class="product-price">Price: €10.00</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
