@{
    Layout = "_LayoutVideo";
    ViewData["Title"] = "Stream";
}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="~/js/video/player.js" asp-append-version="true" defer="defer"></script>
<script src="~/js/video/player_list.js" asp-append-version="true" type="module" defer="defer"></script>
<div id="funct-video">
    <img class="img-funct-video" id="camera" src="~/images/video/camera.png"/>
    <img class="img-funct-video" id="player" src="~/images/video/player.png"/>
    <img class="img-funct-video" id="sound" src="~/images/video/sound.png"/>
      <div id="sound-volume-funct-video">
          <source src="http://lel.com/link/to/stream.m3u">
      </div>
    <div id="list-urls">
        <p>List of urls:
			<input id="addList" type = "text" list = "airports">
        <button  id="show">Show</button>
		</p>
        <datalist id = "airports">
		</datalist>
    </div>
  </div>